:root {
  --text-color-1: #0e2431;
  --text-color-2: #6a59d1;
  --text-color-3: #777;

  --hover-color: #614fd0;

  --body-bg-color: #fefefe;
  --modal-bg-color: #fff;
  --card-bg-color: #fff;

  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color: rgba(106, 89, 209, 0.1);

  --line-color: #d7d7d7;

  --color-filter: invert(1);

  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  --scroll-bar-color: #c5cadf80;
  --scroll-thumb-color: #70768aa8;
  --scroll-thumb-hover-color: #70768a;

  --max-width: 1250px;
  --transition: all 0.4s ease;
}

/** ======= Reset ========  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background: var(--body-bg-color);
  color: var(--text-color-1);
  overflow-x: hidden;
}

.dark-theme {
  --text-color-1: #e8e3ff;
  --text-color-2: #6a59d1;
  --text-color-3: #a9afc3;

  /* 1st bg color*/
  /* --body-bg-color: #0e1b31;  */
  /*2nd bg color */
  --body-bg-color: #130e31;

  --body-bg-color: #0c0824;

  --modal-bg-color: #102048;

  /*1st card color */
  --card-bg-color: #132347;
  /* 2nd card color  */
  --card-bg-color: #1c163e;

  --bg-transparent-color: rgba(255, 255, 255, 0.1);
  --line-color: #454f6b;
  --color-filter: invert(0);
  --scroll-bar-color: #c1ceff2e;
  --scroll-thumb-color: #5767ad;
  --scroll-thumb-hover-color: #7482c5;
}

/* toggle moon light icon  */
.darktheme {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
  position: absolute;
}
body.dark-theme .darktheme {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: rotate(360deg);
  transition: var(--transition);
}
body.dark-theme .lighttheme {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: rotate(360deg);
  transition: var(--transition);
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--text-color-1);
  transition: var(--transition);
}
li {
  list-style: none;
}

/* resusable classes  */

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 10px;
}

section {
  padding: 2rem 1rem;
  margin: 1rem 0;
}

.space {
  padding-top: 5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-texts {
  text-align: center;
}
.alpha-text {
  font-size: 4.5em;
  font-weight: 800;
  background: linear-gradient(to top, transparent 0%, var(--text-color-1) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.section-texts .text {
  font-size: 2.5em;
  transform: translateY(-50px);
  position: relative !important;
  display: inline-block;
}
.section-texts .text::before {
  background: var(--text-color-2);
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  right: 0;
  bottom: 0;
}
textarea {
  resize: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--body-bg-color);
  z-index: 10;
  padding: 1rem;
  border-bottom: 1px solid transparent;

  transition: var(--transition);
}
header.sticky:not(body.dark-theme) {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body.dark-theme header.sticky {
  border-color: rgba(219, 209, 255, 0.075);
}
.nav {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo span {
  --height: 35px;
  display: inline-block;
  color: #fff;
  background-color: var(--hover-color);
  height: var(--height);
  aspect-ratio: 1/1;
  width: var(--height);
  border-radius: 5px;
  line-height: var(--height);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 2px;
}

.nav-lists {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.nav-link {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1em;
  color: var(--text-color-1);
}
.nav-link.active {
  color: var(--hover-color);
}
.nav-link:hover {
  color: var(--hover-color);
  background-color: #604fd018;
}
.menu-toggle-btn,
.toggle-theme-mood {
  --height: 40px;
  height: var(--height);
  width: var(--height);
  color: var(--text-color-1);
  cursor: pointer;
  border: none;
  background-color: #604fd018;
  border-radius: 5px;
  transition: var(--transition);
  margin-left: 1.5rem;
}

.menu-toggle-btn svg,
.toggle-theme-mood svg {
  fill: var(--text-color-1);
  fill: var(--hover-color);
  font-size: 1rem;
  size: 1rm;
  height: var(--height);
  width: 20px;
}
.toggle-theme-mood:hover {
  transform: scale(0.95);
  background-color: #604fd037;
}

.menu-toggle-btn {
  position: relative;
  box-shadow: inset 1px 1px 0px #604fd037;
}
.menu-toggle-btn:active {
  box-shadow: none;
  background-color: #604fd037;
}
.toggleIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-toggle-btn {
  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HOME SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.home-container,
.main-hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home-container {
  gap: 5rem;
}

.social-lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-right: 40px;
}

.icon {
  height: 45px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.icon svg {
  width: 25px;
  fill: var(--text-color-2);
}
.icon:hover svg {
  fill: var(--hover-color);
}
.home-texts {
  text-align: left;
}
.home-texts h1 {
  font-size: 3.75em;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color-1);
}
.home-texts h1 span {
  color: var(--text-color-2);
}

.home-texts h3 {
  color: var(--text-color-3);
  font-feature-settings: 1.3em;
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.home-texts .cursor {
  background: var(--text-color-2);
  display: inline-block;
  height: 1.1em;
  width: 2px;
  margin-left: 2px;
}

.home-texts .blink {
  animation: blinking ease 0.5s infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.home-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.9em 1.75em;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  margin-top: 2rem;
  font-weight: 500;
  background: var(--text-color-2);
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.home-btn span {
  display: inline-flex;
  --height: 20px;
  height: var(--height);
  width: var(--height);
  border-radius: 50%;
  background: #fff;
  align-items: center;
  justify-content: center;
}
.home-btn svg {
  width: 12px;
  fill: #2e2020;
}
.home-btn:hover {
  background: var(--hover-color);
}

.hero-image-wrapper {
  height: 500px;
  width: 500px;
  background-color: #6b59d111;
  border-radius: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-image-wrapper::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: #6b59d12f;
  border-radius: 100%;
  z-index: -1;
}
.hero-image-wrapper .hero-image {
  height: 100%;
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ABOUT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

.about-container {
  padding-top: 2rem;
  padding-inline: 2em;
}

.about-main-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}
.about-right-col {
  padding-top: 2rem;
}
.about-image {
  height: 500px;
  width: 500px;
  /* background-color: #604fd018; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.image-aria {
  position: relative;
}
.image-aria figure {
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: auto !important;
}
.about-texts h2 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: 600;
}
.about-texts h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--text-color-2);
}
.about-description {
  font-size: 1em;
  line-height: 1.7;
  color: var(--text-color-3);
  margin-bottom: 20px;
}

.tools h4 {
  font-weight: 600;
  margin-bottom: 15px;
}
.about-btn svg {
  fill: #fff !important;
}
.tools-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tool-icon {
  height: 50px;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
}
body.dark-theme .tool-icon {
  border-color: #ded9ff3e;
}
.tool-icon:hover {
  background: #604fd018;
  border: 1px solid #604fd018;
}
body.dark-theme .tool-icon:hover {
  border: 1px solid #6958d730;
}
.tool-icon img {
  width: 25px;
  height: 25px;
}
.about-btn {
  display: inline-block;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ RESUME SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.top-wrapper,
.bottom-wrapper {
  display: grid;
  gap: 2em;
}
.top-wrapper {
  grid-template-columns: 2fr 1fr;
}

.bottom-wrapper {
  margin-top: 2em;
}
.education-wrapper {
  height: 100%;
}
.skills-lists,
.education-lists {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.skills-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.skill-list,
.education-list,
.cv-wrapper {
  width: 100%;
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  padding: 1.2em;
  border-radius: 6px;
  position: relative;
}
.cv-wrapper {
  margin-top: 1em;
  padding: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cv-btn {
  margin-top: 0;
}
.cv-btn svg {
  width: 15px;
  margin-left: 5px;
}
.cv-wrapper::before,
.education-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5px;
  width: 100%;
  background: var(--text-color-2);
  border-radius: inherit;
}

.education-list > h2 {
  font-size: 1.6em;
  font-weight: 500;
}
.education-list > p {
  color: var(--text-color-2);
  font-size: 1.2em;
  margin-bottom: 10px;
}
.education-list > span {
  display: block;
  font-size: 0.9em;
  color: var(--text-color-3);
}
.coding-wrapper {
  flex-shrink: 0;
  align-self: flex-start;
}
.skills-lists,
.education-lists,
.coding-profiles {
  padding-top: 2em;
}
.coding-profiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}
.coding-profiles li {
  height: 100%;
  width: 100%;
  position: relative;
}
.coding-profile {
  display: inline-block;
  background: var(--card-bg-color);
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.coding-profile::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0 !important;
  width: 100%;
  height: 1.5px;
  bottom: auto;
  background: var(--text-color-2);
  border-radius: inherit;
  transition: var(--transition);
}
.coding-profile:hover::before {
  height: 100%;
  background: linear-gradient(to top, #6a59d1, transparent);
}

.coding-profile::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0 !important;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: rgb(255, 255, 255);
  field-sizing: 1rem;

  display: flex;
  align-items: flex-end;
  margin-left: 1em;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  text-transform: capitalize;
  transform: translateY(50%);
  transition: var(--transition);
  color: #fff;
}
.coding-profile:hover::after {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(-1em);
}

.profile-image img {
  height: 100px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  object-fit: contain;
  transition: var(--transition);
}
.coding-profile:hover .profile-image img {
  opacity: 0.5;
}
.edu-label {
  display: inline-block;
  padding: 5px 15px;
  font-weight: 400;
  background: var(--text-color-2);
  color: #fff;
  border-radius: 5px;
  font-size: 1em;
}

.skills-wrapper {
  width: 100%;
}

.skill-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.skill-info span {
  font-weight: 500;
  font-size: 1em;
}
.line {
  width: 100%;
  height: 7px;
  border-radius: 2px;
  background: #c5cadf;
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: var(--width);
  border-radius: inherit;
  background: var(--text-color-2);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PROJECTS SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

.projects-main-container {
  margin-top: 3em;
}
.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 100%;
  gap: 35px;
  margin: auto;
}
.project-card {
  border: 1px solid #ccc;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  min-height: 350px;
  max-height: 350px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

body.dark-theme .project-card {
  border-color: #a08cd73f;
}
.project-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #875ed739, transparent);
}
.profile-image {
  position: relative;
}
.project-image,
.project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-image img {
  border-radius: 10px;
}

.project-info-wrapper {
  position: absolute;
  bottom: 2em;
  background: #fff;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: var(--transition);
  z-index: 1;
}

.project-card:hover .project-info-wrapper {
  bottom: 3em;
}

.project-name {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 5px;
}
.project-desc {
  font-weight: 400;
  line-height: 30px;
  color: var(--text-color-3);
}
body.dark-theme .project-name {
  color: #000000;
  font-weight: 600;
}
body.dark-theme .project-desc {
  color: #888787;
}
.share-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  box-shadow: 2px 3px 0px #2e2020;
  border: 2px solid #2e2020;
  cursor: pointer;
  background: transparent;
  transition: var(--transition);
}
.project-card:hover > .project-info-wrapper .share-icon {
  background: #dab2ff;
}

.share-icon img {
  width: 25px;
  object-fit: contain;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTACT SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

.contact-main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 4em;
  margin-top: 3em;
}
.contact-left-col,
.contact-right-col {
  width: 100%;
}
.contact-left-col h2 {
  font-size: 2.1em;
  font-weight: 600;
  margin-bottom: 40px;
}
.contact-lists li {
  margin-bottom: 15px;
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  padding: 1.5em 1em;
}
.contact-lists li a {
  font-size: 1.3em;
  font-weight: 600;
  /* margin-bottom: 10px; */
  color: var(--text-color-2);

  display: flex;
  align-items: center;
  gap: 0.75em;
}
.contact-list-icon {
  height: 70px;
  width: 70px;
  background: #604fd018;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.location svg {
  fill: var(--text-color-2);
}

.contact-list-icon svg {
  width: 30px;
}
/* right  */
.contact-right-col > p {
  font-size: 1.6em;
  margin-bottom: 30px;
  font-weight: 500;
}
.input-box {
  width: 100%;
}

.input-field {
  width: 100%;
  height: 65px;
  margin-bottom: 1.3em;
  background: var(--transparent-color);
  border: none;
  outline: none;
  padding: 1em;
  border-radius: 10px;
  color: var(--text-color-1);
  font-size: 1em;
}
body.dark-theme .input-field::placeholder {
  color: #e0d1f47a;
}
textarea.input-field {
  height: 200px;
}
.input-wrapper {
  display: flex;
  width: 100%;
  gap: 1em;
}
.contact-btn {
  margin-top: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

.footer-container {
  margin-top: 5em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  padding: 4em 0 2em 0;
  border-top: 1px solid #ccc;
}

body.dark-theme .footer-container {
  border-color: #ada4db49;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.footer-container p {
  font-size: 1em;
  color: var(--text-color-1);
}
.footer-link {
  font-size: 1em;
}
.footer-link:hover {
  color: var(--hover-color);
}

/* goto top  */

.goto-top {
  position: fixed;
  bottom: 3em;
  right: -100%;

  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: var(--text-color-2);
  cursor: pointer;
  opacity: 0;
  transition: backgound 0.4s, transform 0.4s, right 0.7s, opacity 4s;
}
.goto-top.active {
  right: 2em;
  opacity: 1;
}

.goto-top svg {
  fill: #fff;
  width: 25px;
}
.goto-top:hover {
  background: var(--hover-color);
  transform: scale(0.96);
}

/* ================ Custome  Scrollbar =========================  */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

/* smooth scroll  */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
